.headerContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 20px;
}
.headerRow {
  display: flex;
  width: 100%;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}
.bodyRow {
  display: flex;
  width: 100%;
}

.countText {
  margin-top: 15px;
}

.posts {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.post {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.6);
}

@media (hover: hover) {
  .post:hover p {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 768px) {
  .bodyContainer {
    padding: 25px 20px;
  }

  .countText {
    margin-top: 5px;
  }

  .posts {
    margin-top: 25px;
    gap: 5px;
  }
}